.main {
    display: flex;
    position: relative;
    top: 10rem;
    justify-content: space-between;
    animation: fadeIn 0.8s;
}

@media (max-width: 1200px) {
    .main > div:nth-child(1) {
        width: 0;
    }

    .main > div:nth-child(2) {
        width: 100%;
    }
}

@media (min-width: 1200px) {
    .main > div:nth-child(1) {
        width: 24rem;
    }

    .main > div:nth-child(2) {
        width: calc(98% - 24rem);
    }
}
