.img {
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: 50%;
    background-position-y: 50%;
    background-attachment: fixed;
    background-image: url(/images/loading.png);
}
